<footer class="main-footer">
    <button id="scrollTopBtn" class="scroll-top-btn" aria-label="Scroll to top">
        ↑
    </button>
    <div class="container footer-content">
        <div class="footer-brand">
            <a href="/index.html" class="logo-link footer-logo-link">
                <div class="logo-container">
                    <img
                        src="/assets/logo-white.svg"
                        alt="Inside the Stack Logo"
                    />
                </div>
            </a>

            <p class="footer-tagline">Understanding How Modern Web Apps Work</p>
        </div>

        <div class="footer-links">
            <a href="/tools.html" class="footer-link">
                <img
                    class="icon"
                    aria-hidden="true"
                    src="/assets/icons/build.svg"
                />
                <span class="link-label">Tools</span>
            </a>
            <a href="/resources.html" class="footer-link">
                <img
                    class="icon"
                    aria-hidden="true"
                    src="/assets/icons/extension-puzzle-sharp.svg"
                />
                <span class="link-label">Resources</span>
            </a>
        </div>
    </div>

    <div class="footer-copyright">
        <p>
            &copy; <span id="current-year">2025</span> Inside the Stack | Built
            by Ahmed Imraan (CYX29806)
        </p>
    </div>
</footer>
