<header class="main-header">
    <div class="container">
        <a href="/index.html" class="logo-link">
            <div class="logo-container">
                <img src="/assets/logo.svg" alt="Inside the Stack Logo" />
            </div>
        </a>

        <nav class="main-nav" id="mainNav">
            <a href="/index.html" class="logo-link-mobile">
                <div class="logo-container">
                    <img
                        src="/assets/logo-white.svg"
                        alt="Inside the Stack Logo"
                    />
                </div>
            </a>
            <ul class="nav-list">
                <li class="nav-item">
                    <a href="/index.html" id="hnav-home" class="nav-link"
                        >Home</a
                    >
                </li>
                <li class="nav-item">
                    <a href="/frontend.html" id="hnav-frontend" class="nav-link"
                        >Frontend</a
                    >
                </li>
                <li class="nav-item">
                    <a href="/backend.html" id="hnav-backend" class="nav-link"
                        >Backend</a
                    >
                </li>
                <li class="nav-item">
                    <a href="/devops.html" id="hnav-devops" class="nav-link"
                        >DevOps</a
                    >
                </li>
                <li class="nav-item">
                    <a href="/security.html" id="hnav-security" class="nav-link"
                        >Security</a
                    >
                </li>
            </ul>
        </nav>

        <a href="contact.html" class="button button-primary contact-button"
            >Contact</a
        >

        <button
            class="menu-toggle"
            aria-controls="mainNav"
            aria-expanded="false"
            id="menuToggle"
        >
            <span class="sr-only">Toggle navigation</span>
            <span class="hamburger-bar top-bar"></span>
            <span class="hamburger-bar middle-bar"></span>
            <span class="hamburger-bar bottom-bar"></span>
        </button>
    </div>
</header>
